<!DOCTYPE html>
<html>
<head>
    <title>Eggduino -- ICBP & Microduino</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#    <meta http-equiv="refresh" content="2">#}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="/static/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="/static/jquery-3.1.1.min.js"></script>

    <link rel="stylesheet" href="/static/macron.css">
</head>
<body>

{% include 'header.html' %}

<script>
    function onClickSync() {
        // !!!!!!!!!!!!
        // You can change this range for color lut
        lut = getLut(19.0, 21.0);
    }
</script>

<h1>Utils</h1>

<hr/>
<h3>Time</h3>
<div class="jumbotron col-xs-12 col-sm-12">
    <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Time Sync
    </button>

    <div id="sync_output"> Sync Time Output</div>
</div>

<hr/>
<div class="jumbotron col-xs-12 col-sm-12">
    <h3>Data Collection Interval</h3>

    <div>Status</div>

    <form class="navbar-form navbar-left" role="form" method='POST' action='/applyInterval'>
        <input type="text" class="form-control" placeholder="Temperature">
        <input type="text" class="form-control" placeholder="Humidity">
        <input type="text" class="form-control" placeholder="Movement">
        <input type="text" class="form-control" placeholder="Environment">
        <button type="submit" class="btn btn-default">Apply</button>
    </form>
</div>

<hr/>
<div class="jumbotron col-xs-12 col-sm-12">
    Restart Daemon
</div>

<div class="jumbotron col-xs-12 col-sm-12">
    Data History

    <form class="navbar-form navbar-left" role="form" method='POST' action='/downloadData'>
        <input type="text" class="form-control" placeholder="Temperature">
        <input type="text" class="form-control" placeholder="Humidity">
        <button type="submit" class="btn btn-default">Download</button>
    </form>
</div>

<script src="/static/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
