<!DOCTYPE html>
<html>
<head>
    <title>Eggduino -- ICBP & Microduino</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#    <meta http-equiv="refresh" content="2">#}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="/static/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="/static/jquery-3.1.1.min.js"></script>

    <script src="/static/moment.min.js"></script>
    <!-- Include Date Range Picker -->
    <link rel="stylesheet" type="text/css" href="/static/daterangepicker.css"/>
    <script src="/static/daterangepicker.js"></script>

    <script src="/static/moment.min.js"></script>
    <!-- Include Date Range Picker -->
    <link rel="stylesheet" type="text/css" href="/static/daterangepicker.css"/>
    <script src="/static/daterangepicker.js"></script>

    <link href="/static/nv.d3.min.css" rel="stylesheet" type="text/css">
    <script src="/static/d3.min.js" charset="utf-8"></script>
    <script src="/static/nv.d3.min.js"></script>

    <script src="/static/three.min.js"></script>

    <link rel="stylesheet" href="/static/macron.css">

    <style>
        #chart1 {
            margin: 0px;
            padding: 0px;
            height: 80vh;
            width: 100%;
        }
    </style>
</head>
<body>
<div class="col-md-6">
    {% include 'header.html' %}

    {% include 'date_select.html' with context%}

    <div id="chart1">
        <svg></svg>
    </div>
</div>
<div class="col-md-6">
    <div id="egg"></div>

    <script src="/static/threejs/Detector.js"></script>
    <script src="/static/threejs/stats.min.js"></script>
    <script src="/static/threejs/Projector.js"></script>
    <script src="/static/threejs/CanvasRenderer.js"></script>
    <script src="/static/threejs/Lut.js"></script>
    <script src="/static/egg.js"></script>

    <script>
        let serials_data = {{ serials_data | safe }};
        let data = serials_data.map(function (series) {
            series.values = series.values.map(function (d) {
                return {x: d[0], y: d[1]}
            });
            return series;
        });

        if (!Detector.webgl) Detector.addGetWebGLMessage({antialias: true});

        let currTems = []
        for (let i = 0; i < 16; i++) {
            currTems.push(data[i].values[0].y)
        }

        {#    console.log(currTems);#}

        let xScale = 0.5,
                SCREEN_WIDTH = window.innerWidth * xScale, SCREEN_HEIGHT = window.innerHeight,
                windowHalfX = SCREEN_WIDTH / 2, windowHalfY = SCREEN_HEIGHT / 2, mouseX = 0, mouseY = 0,
                container, camera, scene, renderer, group, lut;

        let lights = [];

        function init() {
            // !!!!!!!!!!!!
            // You can change this range for color lut
            lut = getLut({{ tem_render[0] }}, {{ tem_render[1] }});
            let light_intensity = 0.4;

            container = document.getElementById('egg');

            camera = new THREE.PerspectiveCamera(80, window.innerWidth / window.innerHeight * xScale, 1, 3000);
            camera.position.y = 600;
            camera.position.z = 1200;

            scene = new THREE.Scene();

            group = new THREE.Group();
            scene.add(group);

            // Egg
            let egg = buildEgg(group, 200, RENDER_LIGHT);
            scene.add(buildShadow(250));

            // Sensors
            let sensor_locs = get_sensors_location(160);
            // addSensorPoints(group, sensor_locs);

            addBlackLights(group, sensor_locs, lights, light_intensity);
            // console.log(lights);

            renderer = new THREE.CanvasRenderer();
            renderer.setClearColor(0xeeeeee);
            renderer.setPixelRatio(window.devicePixelRatio);
            renderer.setSize(window.innerWidth * xScale, window.innerHeight);

            container.appendChild(renderer.domElement);

            document.addEventListener('mousemove', onDocumentMouseMove, false);

            window.addEventListener('resize', onWindowResize, false);
        }

        function onWindowResize() {

            windowHalfX = window.innerWidth / 2 * xScale;
            windowHalfY = window.innerHeight / 2;

            camera.aspect = window.innerWidth / window.innerHeight * xScale;
            camera.updateProjectionMatrix();

            renderer.setSize(window.innerWidth * xScale, window.innerHeight);

        }

        function onDocumentMouseMove(event) {
            mouseX = ( event.clientX - windowHalfX );
            mouseY = ( event.clientY - windowHalfY );
        }

        //

        function animate() {
            requestAnimationFrame(animate);

            render();
        }

        function render() {
            camera.position.x += ( mouseX - camera.position.x ) * 0.05;
            camera.position.y += ( -mouseY - camera.position.y ) * 0.05;
            camera.lookAt(scene.position);

            group.rotation.y -= 0.005;

            if (currTems) {
                {#                currTems = [40, 40.25, 40.5, 40.75, 41, 41.25, 41.5, 41.75,#}
                {#                    42, 42.25, 42.5, 42.75, 43, 43, 43, 43];#}
                update_temperature(lights, currTems, lut);
            }

            renderer.render(scene, camera);
        }

        init();
        animate();
    </script>

    <script>
        let chart;

        nv.addGraph(function () {
            chart = nv.models.lineChart()
                    .margin({top: 50, right: 80, bottom: 50, left: 80})
                    .color(d3.scale.category10().range())
                    .useInteractiveGuideline(true)
            ;

            var time_axis_format = '%H:%M';
            {#        var time_axis_format = '%m/%d %H:%M:%S'; #}
            chart.xAxis
                    .tickFormat(function (d) {
                        return d3.time.format(time_axis_format)(new Date(d))
                    });
            chart.xScale(d3.time.scale());
            chart.forceX([{{ from_ts }}, {{ to_ts }}]);

            chart.yAxis
                    .axisLabel('Temperatures (ºC)')
                    .tickFormat(d3.format('.2f'));

            chart.interactiveLayer.dispatch.on('elementMousemove.chart1', function (e) {
                let singlePoint, point, pointIndex, pointXLocation, allData = [];

                data
                        .filter(function (series, i) {
                            series.seriesIndex = i;
                            return !series.disabled;
                        })
                        .forEach(function (series, i) {
                            pointIndex = nv.interactiveBisect(series.values, e.pointXValue, chart.x());
                            point = series.values[pointIndex];

                            if (typeof point === 'undefined') return;
                            if (typeof singlePoint === 'undefined') singlePoint = point;
                            if (typeof pointXLocation === 'undefined') pointXLocation = chart.xScale()(chart.x()(point, pointIndex));

                            allData.push(chart.y()(point, pointIndex));
                        });

                currTems = allData;
                // console.log(currTems);
            });

            d3.select('#chart1 svg')
                    .datum(data)
                    .transition().duration(500).call(chart);

            nv.utils.windowResize(chart.update);

            chart.dispatch.on('stateChange', function (e) {
                nv.log('New State:', JSON.stringify(e));
            });

            return chart;
        });

    </script>
</div>
<script src="/static/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>