<!DOCTYPE html>
<html>
<head>
    <title>Eggduino -- ICBP & Microduino</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#    <meta http-equiv="refresh" content="2">#}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="/static/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="/static/jquery-3.1.1.min.js"></script>

    <link rel="stylesheet" href="/static/macron.css">
</head>
<body>

{% include 'header.html' %}

<div class="jumbotron col-xs-12 col-sm-12">
    <h2>Eggduino Daemon</h2>

    {% from "_formhelpers.html" import render_field %}

    <div class="col-xs-12 col-sm-12">
        <h3>Status</h3>
    </div>
    {% if pid %}
        <div class="col-xs-12 col-sm-12">
            <form method='POST' action="/stop_daemon">
                <div class="col-xs-12 col-sm-8">
                    <div class="col-xs-12 col-sm-12">
                        <pre class="label-warning">Running process PID is '{{ pid }}', MODE is '{{ mode }}'</pre>
                        {{ form_stop.hidden_tag() }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="col-xs-12 col-sm-12">
                        {{ render_field(form_stop.pid, class_="form-control") }} <span class="label label-info">Must same with the process pid</span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <button type="submit" class="btn btn-danger" style="width: 160px">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Stop
                    </button>
                </div>
            </form>
        </div>
    {% else %}
        <div class="col-xs-12 col-sm-12">
            Stopping
        </div>
    {% endif %}

    <div class="col-xs-12 col-sm-12">
        <h3>Data Collection Interval</h3>
    </div>
    <div class="col-xs-12 col-sm-12">
        <form method='POST' action="/apply_interval">
            {{ form_interval.hidden_tag() }}
            <div class="col-xs-12 col-sm-8">
                <div class="col-xs-12 col-sm-12">
                    {{ render_field(form_interval.tem_interval, class_="form-control") }} <span
                        class="label label-info">(20-255) seconds</span>
                </div>
                <div class="col-xs-12 col-sm-12">
                    {{ render_field(form_interval.hum_interval, class_="form-control") }} <span
                        class="label label-info">(5-255) seconds</span>
                </div>
                <div class="col-xs-12 col-sm-12">
                    {{ render_field(form_interval.mov_interval, class_="form-control") }} <span
                        class="label label-info">(300-65535) millis seconds</span>
                </div>
                <div class="col-xs-12 col-sm-12">
                    {{ render_field(form_interval.env_interval, class_="form-control") }} <span
                        class="label label-info">(2-255) seconds</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <button type="submit" class="btn btn-primary" style="width: 160px">
                    <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                    {% if pid %} Apply {% else %} Start {% endif %}
                </button>
            </div>
        </form>
    </div>

    <div class="col-xs-12 col-sm-12">
        <h3>Schedules</h3>
    </div>
    <div class="col-xs-12 col-sm-12">
        <form method='POST' action="/apply_schedules">
            {{ form_schedules.hidden_tag() }}
            <div class="col-xs-12 col-sm-8">
                {{ form_schedules.schedules(class_="form-control", rows=10)|safe }}
            </div>
            <div class="col-xs-12 col-sm-4">
                <button type="submit" class="btn btn-primary" style="width: 160px">
                    <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Run
                </button>
            </div>
        </form>
    </div>

</div>

<script src="/static/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
